* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-image: url(bg.png);
  /* background-image: linear-gradient(to top left, #d6152f 0%, #490cd6 100%); */
  align-items: center;
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.outter {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: auto;
  height: auto;
  border: 3px solid white;
  filter: drop-shadow(5px 5px 5px #0000008a);
  margin: 25px;
  background-color: rgba(41, 41, 41, 0.575);
}

.title {
  text-align: center;
  font-weight: bolder;
  font-size: 100px;
  filter: drop-shadow(5px 5px 5px #0000008a);
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
}

.JavaScript {
  padding: 10px;
  /* outline: 3px solid white;
  filter: drop-shadow(5px 5px 5px #0000008a); */
}

.Java {
  padding: 10px;
}

.CPP {
  padding: 10px;
}

a {
  font-size: 20px;
  filter: drop-shadow(5px 5px 5px #0000008a);
  color: white;
  justify-content: center;
}

p {
  text-align: center;
  padding: 10px;
}

#picture {
  filter: drop-shadow(5px 5px 5px #0000008a);
  padding: 15px;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
