* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: white;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

img {
  margin-top: 0px;
  height: 100%;
  object-fit: contain;
  position: relative;
  left: -30%;
}

h1 {
  font-size: 35pt;
  padding-bottom: 1%;
}

h2 {
  font-size: 35pt;
}

h3 {
  font-size: 25pt;
}

h4 {
  font-size: 15pt;
}

h5 {
  font-size: 12pt;
}

p {
  font-size: 13pt;
}

li {
  font-size: 12pt;
}

ul > ul > li {
  font-size: 10pt;
  text-indent: 10%;
}

.page {
  display: inline-block;
  position: relative;
  height: 100vh;
  width: 100%;
}

.outter-content {
  display: flex;
  height: fit-content;
  min-height: 20vh;
  top: 0;
}

.content {
  height: fit-content;
  background-color: #031d26ef;
  border: 1px solid #031d26ef;
  border-radius: 0% 0% 50% 0%;
  filter: drop-shadow(10px 10px 10px black);
}

#picture {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: #031d26ef;
  border: 10px solid #063f52ef;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
  overflow: hidden;
  float: left;
}

.about {
  display: flex;
  padding-top: 2%;
  padding-right: 3%;
  padding-left: 3%;
  flex-direction: column;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
}

#skill-title {
  padding-top: 2%;
}

#skill-list {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
}

.skill-list-item {
  padding-right: 2%;
}

.outter-education {
  min-height: 28vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2%;
  margin-bottom: 2%;
}
.education {
  width: 75%;
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  background-color: #031d26ef;
  overflow: visible;
  filter: drop-shadow(10px 10px 10px black);
  padding-top: 2%;
  padding-bottom: 2%;
  float: right;
  border: 1px solid #031d26ef;
  border-radius: 50% 0 0 50%;
}

.outter-work {
  min-height: 34vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title {
  padding-right: 10%;
}

.list {
  padding-right: 5%;
}

.work {
  display: flex;
  flex-direction: row;
  width: 94%;
  background-color: #031d26ef;
  border-radius: 0% 50% 0% 0%;
  padding-left: 6%;
  padding-top: 2%;
  justify-content: left;
  flex: 1 1 auto;
}

.jobs {
  display: flex;
  flex-direction: row;
}

.job {
  padding-right: 10%;
}

#trane {
  display: flex;
  flex-direction: row;
}

#kilgore {
  display: flex;
  flex-direction: row;
}

#kilgore-list {
  font-size: 1rem;
}

@media (max-width: 1750px) {
  html {
    overflow: auto;
  }

  h1 {
    font-size: 30pt;
  }

  h2 {
    font-size: 30pt;
  }

  h3 {
    font-size: 20pt;
  }

  h4 {
    font-size: 13pt;
  }

  h5 {
    font-size: 10pt;
  }

  p {
    font-size: 11pt;
  }

  li {
    font-size: 12pt;
  }

  .content {
    border-radius: 0 0 0 0;
  }
  .education {
    width: 100%;
    border-radius: 0 0 0 0;
    padding-left: 3%;
    justify-content: center;
  }
  .work {
    border-radius: 0 0 0 0;
  }

  .outter-education {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .list > h4 {
    font-size: 15px;
  }

  #trane-title {
    padding-right: 10%;
  }

  #kilgore-title {
    padding-right: 10%;
  }
}

@media (max-width: 900px) {
  #skill-list-item {
    flex-wrap: wrap;
  }

  .skills {
    flex-wrap: wrap;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4%;
  }

  #picture {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    float: none;
    text-align: center;
  }

  .about {
    padding-right: 8%;
  }
}
